<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/angular-ui-select/dist/select.css">
	<link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
	<script type="text/javascript" src="bower_components/angular-ui-select/dist/select.js"></script>
	<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<style type="text/css">
		body {
			margin-top: 50px;
		}
	</style>
</head>
<body ng-app="app" ng-controller="mainController as mainCtrl" class="container">


	<p class="input-group">
	    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="mainCtrl.obj.someDate" is-open="mainCtrl.isOpen"  />
	    <span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="mainCtrl.open($event, prop)"><i class="fa fa-calendar"></i></button>
	    </span>
	</p>

	<pre ng-bind="mainCtrl.obj.someDate"></pre>


	<ui-select ng-model="mainCtrl.country" theme="bootstrap">
		<ui-select-match placeholder="Выбрать страну">
			{{$select.selected.value.name}}
		</ui-select-match>
		<ui-select-choices refresh="mainCtrl.fetchCountries($select)" refresh-delay="300"
		 repeat="country.value as (key, country) in mainCtrl.countries | filter: { value: { name: $select.search }}">
			{{country.value.name}}
			<div ng-if="$index == $select.items.length-1">
				<button 
	                  class="btn btn-xs btn-primary" 
	                  style="width: 100%; margin-top: 5px;" 
	                  ng-mouseover="mainCtrl.fetchCountries($select, $event);"
	                  ng-disabled="mainCtrl.loading">Загрузить больше...сделай невидимым если что</button>    
			</div>
		</ui-select-choices>
	</ui-select>

	<pre ng-bind="mainCtrl.country | json"></pre>

</body>
</html>